<form class="new-post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="date">Date</label>
        <input type="datetime" class="form-control" id="date" name="dateTime" placeholder="Date">
    </div>
    <div class="form-group">
        <label for="hashtag">Hashtag</label>
        <input type="text" id="hashtag" class="form-control" placeholder="Hashtag" name="hashtag">
    </div>
    Place:
    <div class="pull-right">
        <button class="btn btn-success new-place" data-toggle="modal" data-target="#place-modal" type="button">New</button>
    </div>

    <div class="place-form-container"></div>

    <div class="form-group">
        <select class="form-control">
            <% places.each(function(place) { %>
                <option value="<%= place.get('id') %>"><%= place.get('name') + ' - ' + place.get('city') %></option>
            <% }) %>
        </select>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="tickets"> Tickets
        </label>
    </div>
    <button type="submit" class="btn btn-default submit-event">Add</button>
</form>


<div class="modal fade" id="place-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/api/places" class="new-place-form">
                <div class="form-group">
                    <label for="place-name">Name</label>
                    <input type="text" id="place-name" placeholder="Place name" name="location.name">
                </div>
                <div class="form-group">
                    <label for="city-name">City</label>
                    <input type="text" id="city-name" placeholder="City" name="location.city" required>
                </div>
                <div class="form-group">
                    <label for="street">Street</label>
                    <input type="text" id="street" placeholder="Street" name="location.street">
                </div>
                <div class="form-group">
                    <label for="no">Building number</label>
                    <input type="text" id="no" placeholder="Building number" name="location.buildingNumber">
                </div>
                <button type="submit" class="btn btn-default submit-place">Add</button>
            </form>
        </div>
    </div>
</div>

